node_modules
.dist/
test
.VSCodeCounter
.idea/
.idea/
static/
static/*.jpeg
node_modules/
.next/
.DS_Store
public/sw.js
public/workbox-*.js
public/workbox-327c579b.js.map
public/sw.js.map
.env.development
.env.production
.env.local
config.json
next.config.js