.MuiPickersDay-daySelected {
  background-color: #ebf4f3 !important;
  font-weight: bold;
}

.MuiPickersDay-daySelected .MuiTypography-body2 {
  color: #4a8e78;
}

.MuiTypography-body2 {
  font-weight: 900 !important;
}
